body {
    background: rgb(161, 158, 219);
    background: radial-gradient(
      circle,
      rgb(88, 87, 106) 0%,
      rgb(61, 59, 77)
      rgb(53, 53, 76) 100%
    );
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto; 
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    background: #0563b4 !important;
  }


  .ui.divider {
    margin: 20px 0;
  }
  
  .ui.form {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0d8aed;
  }


  p {
    color: red;
  }