

.min-width {
  min-width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

@media (max-width: 768px) {
    .flex-graph {
      flex-direction: column;
    }
  
    .dashboard-table,
    .flex-grow-1 {
      width: 100%;
      max-width: none;
    }
  }
.question-button{
    width: 30px;
    float: right;
    border-radius:15px;
    margin-bottom: 10px;
}

.card-body{
    margin: 2%;
}
.custom-bg-color {
    background-color: #e3effa;
  }

h3{
    font-size: 26px;
}
