


@media (min-width:556px){
    #col2{
        margin-left: 5%;
    }
}
@media (max-width:612px){


    #col2{
        margin-top: 10%;
    }
}
  
#questionbutton {
    margin-bottom: 10px;
}

h3{
    font-size: 20px;
}
