


@media (min-width:556px){
    #col2{
        margin-left: 5%;
    }
}
@media (max-width:612px){
    .card-body{
        overflow-x: auto;
    }

    #col2{
        margin-top: 10%;
    }
}
.question-button{
    width: 30px;
    float: right;
    border-radius:15px;
    margin-bottom: 10px;
}

.card-body{
    margin: 2%;
}

h3{
    font-size: 26px;
}
